---
import Layout from "../layouts/Layout.astro";
import { Player } from "../components/Player.tsx";
import { AudioList } from "../components/AudioList.tsx";
---

<Layout title="Welcome to Astro.">
  <div class="w-52">
    <div transition:name="audioPlayer">
      <Player client:only transition:persist transition:name="player" />
    </div>
  </div>
  <AudioList />
</Layout>
